<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>{{appName}}</title>

    <meta http-equiv='Content-type' content='text/html;charset=UTF-8'>
    <meta name='keywords' content='finance, byu, idealabs, control, optimization, feedback, learning'>
    <meta name='description' content='Tour de Finance (TDF)'>

    <link rel='stylesheet' href='lib/bootstrap/dist/bootstrap.min.css' />

</head>
